# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# Streamlit Cache
.streamlit/

# Logs
logs/

# OS Files
.DS_Store
Thumbs.db

# Python Build Files
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/